some-artifact/src/main/webapp/SomeModule/
some-artifact/src/main/webapp/WEB-INF/classes/
some-artifact/src/main/webapp/WEB-INF/deploy/
some-artifact/src/main/webapp/WEB-INF/lib/
some-artifact/src/main/webapp/com.company.SomeModuleJUnit/
some-artifact/.gwt
some-artifact/war
some-artifact/www-test
