 ------
 Using appengine launcher
 ------
 Olivier Lamy
 ------
 2010-11-19

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Lauch your application in dev mode with AppEngine launcher

  With version 2.1.1, you can now start debug mode with AppEngineLauncher.
  Simple and default configuration. This one will download and extract appengine sdk.
  The appengine-sdk version used is defined with a mojo property {{{../run-mojo.html#appEngineVersion}appEngineVersion}}.
  You can change in the cli with -Dgwt.appEngineVersion= 
   :
  
+--
<project>
  [...]
  <build>
    <plugins>
      [...]
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>gwt-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <server>com.google.appengine.tools.development.gwt.AppEngineLauncher</server>
        </configuration>
      </plugin>
      [...]
    </plugins>
  </build>
  [...]
</project>
+--  

  You can use an already locally installed appengine-sdk.
  The recommended way is to use a property and to set the value in your settings.xml
  
+--
<project>
  [...]
  <build>
    <plugins>
      [...]
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>gwt-maven-plugin</artifactId>
        <version>${project.version}</version>
        <configuration>
          <appEngineHome>${appEngineSdk}</appEngineHome>
        </configuration>
      </plugin>
      [...]
    </plugins>
  </build>
  [...]
</project>
+--   
  

  
