 ------
 Using a different GWT SDK version
 ------
 Olivier Lamy
Thomas Broyer
 ------
 2012-07-14

~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~   http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

~~ NOTE: For help with the syntax of this file, see:
~~ http://maven.apache.org/doxia/references/apt-format.html

Using a different GWT SDK version

  Currently the plugin uses and has been tested with GWT ${gwtVersion}.
  This version is defined in the plugin dependencies, so if you want another (newer) version you must change
  your pom as follows:
  
+--
<project>
  <properties>
    <gwt.version>your preferred GWT SDK version here</gwt.version>
  </properties>
  [...]
  <build>
    <plugins>
      [...]
      <plugin>
        <groupId>org.codehaus.mojo</groupId>
        <artifactId>gwt-maven-plugin</artifactId>
        <version>${project.version}</version>
        <dependencies>
          <dependency>
            <groupId>com.google.gwt</groupId>
            <artifactId>gwt-user</artifactId>
            <version>${gwt.version}</version>
          </dependency>
          <dependency>
            <groupId>com.google.gwt</groupId>
            <artifactId>gwt-dev</artifactId>
            <version>${gwt.version}</version>
          </dependency>
          <dependency>
            <groupId>com.google.gwt</groupId>
            <artifactId>gwt-codeserver</artifactId>
            <version>${gwt.version}</version>
          </dependency>
        </dependencies>
      </plugin>
      [...]
    </plugins>
  </build>
  [...]
</project>
+--  

  Note that starting with 2.5.0-rc1, the plugin depends on <<<gwt-user>>>, <<<gwt-dev>>> and <<<gwt-codeserver>>>.
  Previous versions depended on <<<gwt-user>>>, <<<gwt-dev>>> and <<<gwt-servlet>>>.
  All dependencies should be overridden.
